@import 'reset.css';
@import 'basic.css';
@import 'app.css';

div {
    background-color: blue;
}

span {
    background-color: red;
    color: black !important;
}

p {
    background-color: yellow;
}

h1 {
    background-color: orange
}

.div_class {
    background-color: red;
}

.h1_class {
    color: blue;
}

#span_id {
    background-color: white
}

.span_class2 {
    color: white;
    background-color: black;
}

.span_class {
    color: yellow;
    background-color: black;
}

/*

    tag : 1점
    class : 10점
    id : 100점
    !important : 1000점

*/